body {
  text-align: center;
  font-family:Times New Roman;
  font-size: 20px;
  background: url("https://www.walldevil.com/wallpapers/a86/2248-simple-wallpapers-mountains-abstract-wallpaper.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  float: none;
}
#logo{

    font-size:50px;
  color:white;
  border-style:dotted;
  border-color:#006666;
  border-radius:5px;
  width: 80px;
  height: 75px;
  margin: 0 auto;

}
.random {
  padding-top: 20px;
}

#random_btn {
  border-style: solid;
  border-color: #006666;
  border-width: 1px;
  background: none;
  font-size: 15px;
}

#random_btn:hover {
  color: white;
}

.padding {
  padding-top: 9%;
}



a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
  text-decoration: none;
  font-size: 105%;
  color: white!important;
}

#search_section {
  padding-top: 20px;
}

.searchBox {
  background: none repeat scroll 0 0 #fff;
  border: solid;
  border-width: 2px;
  color: #7F7F7F;
  margin: 0 auto;
  font-size: 18px;
  width: 30%;
  text-align: center;
}
 ul.ui-autocomplete {
      
   font-size:15px;
   
   
        
    }
 

#outcome {
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
  border-radius: 3px;
}

#outcome p {
  background-color: #006666;
}

#hope {
  color: #006666;
  padding-top:2%;
}

#invisible {
  opacity: 0;
  font-size: 8px;
}
#madeBy{
  padding-top:8%;
  font-size:15px;
  color:black;
}
